<div class="main">
  <div class="layer">
    <h2>المركبات / الدراجات المتوفره</h2>
    <div class="box m-auto">

      <a >
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 3.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a>

      <!-- <a >
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 7.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a>

      <a>
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 5.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a>

      <a >
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 9.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a>
      <a>
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 10.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a>

      <a >
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 6.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a>
      <a >
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 8.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a>
      <a>
        <div class="img-box">
          <img class="w-100" src="../../assets/images/image 4.png" alt="">
          <div class="layer2">
            <p>المزيد ...</p>
          </div>
        </div>
      </a> -->



    </div>
  </div>
</div>
