.main {
  background-image: url("../../../assets/images/section1.png");
  /* height: 922px; */
  height: auto;
  background-position: center center;
  background-size: cover;
  /* position: relative; */
}

.layer {
  /* position: absolute;
  inset: 0; */
  background: rgba(101, 20, 93, 0.55);
  padding-top: 20px;
}
.layer h2 {
  color: #fff;
  text-align: center;
  font-family: Cairo;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.img-box {
  width: 310px;
  /* height: 355px; */
  flex-shrink: 0;
  margin: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.layer2 {
  position: absolute;
  inset: 0;
  background: rgba(101, 20, 93, 0.53);
  display: none;
  align-items: center;
  justify-content: center;
}
.img-box:hover .layer2 {
  display: flex;
}
.layer2 p {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Cairo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
