<section>
    <div class="section">
        <div class="layer">
            <div class="container">
                <div class="row">



                    <div class="col-xl-6 col-md-6 col-l-12">
                        <div class="text">
                            <div>
                                <h2>شعبة السير / وحدة حجز المركبات</h2>
                            </div>

                        </div>

                    </div>
                    <div class="col-xl-6 col-md-6 col-l-12">
                        <div class="formcontainer">

                                <div class="form">

                                    <h2>تعديل كلمة المرور  </h2>
                                    <Form [formGroup]="forgetForm" >
                                        
                                        <div class="input-container">
                                            <i class="fa-solid fa-unlock icon"></i>
                                            <input formControlName="password" type="password" placeholder="كلمة المرور ">
                                        </div>
                                        <div class="input-container">
                                            <i class="fa-solid fa-unlock icon"></i>
                                            <input  formControlName="confirmPassword"type="password" placeholder="اعادة كلمة المرور ">
                                        </div>
                                        <p *ngIf="err" class="text-center fa-2x text-danger mt-4"> كلمه المرور و وتاكيد كلمة المرور غير متطابقتان</p>
                                        <p  class="text-center fa-2x .text-success  mt-4">{{isSuccess}} </p>

                                        <div  class="btn">
                                        <button [disabled]="forgetForm.invalid "(click)="sendForgetForm(forgetForm)"> تعديل  </button>
                                        <a routerLink="/Home">رفض  </a>
                                        </div>

                                    </Form>

                            </div>

                        </div>

                    </div>
               </div>
            </div>
        </div>
    </div>
</section>
