<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand">إدارة حجز المركبات</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          
          
          <li class="nav-item">
          <a class="nav-link ">
            <img src="assets/images/trafic-preview.png" alt="">
          </a>
          </li>
         
       
      </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
            <li *ngIf="isLogin()"class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/Home">الرئيسية</a>
            </li>
            
            <li  *ngIf="isLogin()&&isAdmin()"class="nav-item">
            <a class="nav-link "  routerLinkActive="active"  routerLink="/createUser">انشاء حساب </a>
            </li>
            <li *ngIf="!isLogin()" class="nav-item">
            <a class="nav-link"   routerLinkActive="active" routerLink="/Login">تسجيل الدخول </a>
            </li>
            <li  *ngIf="isLogin()"class="nav-item">
            <a class="nav-link"   (click)="logOut()">تسجيل الخروج </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>