
<h2>احصائيات الدرجات بشكل عام</h2>
<div class="containDate">
  <form [formGroup]="adddateForm" (ngSubmit)="getDate(adddateForm)">
  <div class="date">


<div  class="box">
  <h4>تاريخ الانتهاء</h4>
  
    <select  formControlName="endAddedday" class="inputselect ">
      <option value="اليوم"disabled >اليوم</option>
      <option *ngFor="let day of dayes" [value]="day">{{day}}</option>
  
    </select>
    <select formControlName="endAddedmonth" class="inputselect2 ">
      <option value="الشهر" disabled >الشهر</option>
      <option value="01">محرم</option>
      <option value="02">صفر</option>
      <option value="03">ربيع الاول </option>
      <option value="04">ربيع الثاني </option>
      <option value="05">جمادي الاول </option>
      <option value="06">جمادي الاخرة</option>
      <option value="07">رجب</option>
      <option value="08">شعبان</option>
      <option value="09">رمضان</option>
      <option value="10">شوال</option>
      <option value="11">ذو القعده</option>
      <option value="12">ذو الحجة</option>
    </select>
    <input  formControlName="endAddedyear"class="inputselect2 " type="text"  placeholder="ادخل  السنة ">
  
</div>
<div  class="box">
<h4>تاريخ البداية</h4>

  <select formControlName="startAddedday" class="inputselect ">
    <option value="اليوم"disabled >اليوم</option>
    <option *ngFor="let day of dayes" [value]="day">{{day}}</option>

  </select>
  <select  formControlName="startAddedmonth"class="inputselect2 ">
    <option value="الشهر" disabled >الشهر</option>
    <option value="01">محرم</option>
    <option value="02">صفر</option>
    <option value="03">ربيع الاول </option>
    <option value="04">ربيع الثاني </option>
    <option value="05">جمادي الاول </option>
    <option value="06">جمادي الاخرة</option>
    <option value="07">رجب</option>
    <option value="08">شعبان</option>
    <option value="09">رمضان</option>
    <option value="10">شوال</option>
    <option value="11">ذو القعده</option>
    <option value="12">ذو الحجة</option>
  </select>
  <input formControlName="startAddedyear" class="inputselect2 " type="text"  placeholder="ادخل  السنة ">

</div>
</div>
<button [disabled]="adddateForm.invalid" type="submit">النتيجة </button>
<h4>{{error}}</h4>
</form>
</div>


<div class="btns">
  <button class="btn  m-3 " (click)="exportAsExel()">تنزيل الاحصائية</button>
<!-- <button class="btn btn-primary m-3 " (click)="exportToPdf()">DownLoad PDF File</button> -->
<button routerLink="/reports" class="btn1 btn  btn-primary m-3 ">رجوع</button>
</div>

<table #table id="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8 "> 

 
  <ng-container matColumnDef="destinationType">
    <th mat-header-cell *matHeaderCellDef class="title"> جهة الاحضار  </th>
    <td mat-cell *matCellDef="let element"class="data"> {{element.destinationType}} </td>
  </ng-container>

  <ng-container matColumnDef="plateNumber" >
    <th mat-header-cell *matHeaderCellDef  class="title"> رقم اللوحة </th>
    <td mat-cell *matCellDef="let element"class="data"> {{element.plateNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="structureNumber">
    <th mat-header-cell *matHeaderCellDef  class="title"> رقم الهيكل	 </th>
    <td mat-cell *matCellDef="let element"class="data"> {{element.structureNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="module">
    <th mat-header-cell *matHeaderCellDef  class="title"> الموديل </th>
    <td mat-cell *matCellDef="let element"class="data"> {{element.module}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef  class="title"> النوع </th>
    <td mat-cell *matCellDef="let element" class="data"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef  class="title">  اللون </th>
     <td mat-cell *matCellDef="let element"class="data"> {{element.color}} </td>
   </ng-container>
   
   <ng-container matColumnDef="dateOfSell">
    <th mat-header-cell *matHeaderCellDef  class="title">  تاريخ البيع </th>
     <td mat-cell *matCellDef="let element"class="data"> {{element.dateOfSell}} </td>
   </ng-container>
  <ng-container matColumnDef="vehicleType">
   <th mat-header-cell *matHeaderCellDef  class="title">   نوع المركبة </th>
    <td  mat-cell *matCellDef="let element" class="data"> {{element.vehicleType}} 
       
   </td>
  
  </ng-container>
   <ng-container matColumnDef="buyingDestination">
    <th mat-header-cell *matHeaderCellDef  class="title">جهة الشراء </th>
     <td  mat-cell *matCellDef="let element" class="data"> {{element.buyingDestination}} 
        
    </td>
   </ng-container>
 
 <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef  class="title">  قيمة الشراء  </th>
     <td mat-cell *matCellDef="let element"class="data"> {{element.value}} </td>
   </ng-container> 
   <ng-container matColumnDef="buyerIdentity">
    <th mat-header-cell *matHeaderCellDef  class="title">   هوية المشتري  </th>
     <td mat-cell *matCellDef="let element"class="data"> {{element.buyerIdentity}} </td>
   </ng-container> 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


