<section>
    <div class="section">
      <div class="layer">
        <div class="container">
          <div class="row">
           <div class="pages">

            <a routerLink="/addVehicle">إضافة مركبه / دراجه</a>
            <a routerLink="/search">البحث عن مركبه / دراجه</a>
            <a routerLink="">حذف مركبه / دراجه</a>
            <a routerLink="/saleVehicles">بيع مركبه / دراجه</a>
            <a routerLink="">سكراب</a>
            <a routerLink="/Vehicles-out">خروج مركبه / دراجه لسبب أخر</a>
            <a routerLink="">تقارير / إحصائيات</a>
            <a class="back" routerLink="">خروج</a>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  