.section {
  background-image: url("../../../assets/images/section1.png");
  height: auto;
  background-position: center center;
  background-size: cover;
}
.layer {
  background: rgba(101, 20, 93, 0.55);
  padding-top: 20px;
}
.container,
.text,
.col-xl-6,
.row,
.formcontainer {
height: 100%;
}
.pages {
padding: 30px ;
text-align: center;
margin: 0px auto;
}
.pages a{
/* width: 30%; */
display: inline-block;
margin: 20px;
}
.item{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
width: 410px;
height: 296px;
border-radius: 19px;
border: 3px;
background-color: #fff;

}
.item h3{
margin-top: 30px;
font-family: Cairo;
font-size: 24px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
color: #65145D;

}
a{
  text-decoration: none;
}
.back{
 width: 297px;
height: 72px;
background-color: #fff;
border-radius: 19px;
box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.10) inset;
color: #65145D;
text-align: center;
font-family: Cairo;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
@media screen and (min-width:992px)and (max-width:1200px) {

}
@media screen and (min-width:768px)and (max-width:992px) {


}
@media screen and (min-width:500px)and (max-width:768px) {

}
@media screen and (min-width:360px)and (max-width:500px) {
.item{
  width: 300px;
}
.pages a{
  margin-left: 0;
}

}

