<section>
    <div class="section">
      <div class="layer">
        <div class="container">
          <div class="row">
           <div class="pages">

            <a routerLink="/addVehicle">إضافة مركبة / دراجة</a>
            <a routerLink="/search">البحث عن مركبة / دراجه</a>
            <a routerLink="/vehicles"> المركبات </a>
            <a routerLink="/saleVehicles">بيع مركبة / دراجة</a>
            <a routerLink="">سكراب</a>
            <a routerLink="/vehiclesOut">خروج مركبة / دراجة لسبب أخر</a>
            <a routerLink="">تقارير / إحصائيات</a>
            <a class="back" routerLink="">خروج</a>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  