.main {
  background-image: url("../../../assets/images/section1.jpg");
  background-position: center center;
  background-size: cover;
  height: 90vh;
  position: relative;
  flex-shrink: 0;
}
.layer {
  position: absolute;
  inset: 0;
  background: rgba(101, 20, 93, 0.55);
}

.layer h2 {
  color: #fff;
  text-align: center;
  font-family: Cairo;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
}
.succss{
  color: rgb(34, 226, 34)!important;
}
.notsuccss{
  color: rgb(248, 24, 24)!important;
}
.cartona {
  position: relative;
}
.form-box {
  margin: auto;
  width: 600px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #fff;
  box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center !important;

}
.lab {
  color: #65145d;
  text-align: right;
  font-family: Cairo;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inp {
  outline: none;
  color: #65145d;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 40px;
  border-radius: 19px;
  border: 1px solid #65145d !important;
  background: #fff;
  box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1) inset;
}

.btn-box {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #65145d;
  box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1) inset;
  color: #fff;
}
.vechelis-respit {
  width: fit-content;
}

.parent {
  padding: 10px;
  display: flex;
}
.h-edit {
  color: #65145d;
  text-align: center;
  font-family: Cairo;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.headers h3 {
  color: #65145d;
  text-align: center;
  font-family: Cairo;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
  border-bottom: 1px solid black;
}
.img-box img {
  width: 80%;
  height: 65%;
}
.modal-content {
  width: 400px;
  height: 250px;
  background-color: rgba(101, 20, 93, 0.9);
}
.modal-body {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
}
.head{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head img{
  width: 100px;
  height: 70px;
}
.signture{
  text-align: left;
  margin-left: 20px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .form-box {
    right: 190px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .form-box {
    right: 75px;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .lab {
    font-size: 19px;
  }
  .inp {
    width: 289px;
    height: 44px;
}
  .btn{
    width: 114px;
    height: 45px;
}
  .btn-box {
    justify-content: space-around;
  }
  .form-box { 
    width: 476px;
    height: 335px;
  }
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  .layer h2 {
    font-size: 30px;
  }
  .lab {
    font-size: 15px;
  }
  .inp {
    width: 150px;
    height: 25px;
  }
  .btn {
    width: 70px;
    height: 28px;
    font-size: 8px;
  }
  .btn-box {
    justify-content: space-around;
    margin-top: 10px;
  }
  .form-box {
    width: 300px;
    height: 150px;
    /* right: 30px; */
    right: 95px;
  }
}