<section>
    <div class="main">
      <div class="layer">
        <div class="cartona">
          <h2>بيع مركبة / دراجة</h2>
          <div class="form-box">
            <form [formGroup]="gatSaleForm" >
              <table>
                <tr>
                  <td><label class="lab" for=""> رقم اللوحة</label></td>
                  <td><input formControlName="PlateNumber" class="inp" type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab" for="">جهة الشراء</label></td>
                  <td><input formControlName="buyingDestination" class="inp" type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab " for=""> هوية المشترى</label></td>
                  <td><input formControlName="buyerIdentity"  class="inp " type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab" for=""> قيمة البيع</label></td>
                  <td><input formControlName="value"  class="inp" type="text" name="" id=""></td>
                </tr>
              </table>
              <div class="btn-box">
                <button (click)="saleForm(gatSaleForm)" type="submit" class="btn">موافق</button>
                <button   [useExistingCss]="true" printSectionId="printSection" ngxPrint  class="btn">طباعة فاتورة</button>
                <a routerLink="/Home" class="btn">خروج</a>
              </div>
            </form>
           
          </div>
        </div>
        <h2 *ngIf="isSuccess"  class="succss">تمت عملية البيع بنجاح</h2>
        <h2 class="notsuccss">{{error}} </h2>
      </div>
    </div>
</section>

<section class="vechelis-respit d-none " id="printSection">
  <div class="headers">
    <div class="head">
    <h1 class="h-edit"> ادارة حجز المركبات</h1>
   <img src="assets/images/trafic-preview.png" alt="">
    </div>
    <h3>فاتورة  بيع  مركبة</h3>
  </div>
  <div class="parent">

    <div class="respit">
      <table class="tab">
        <tr class="palte">
          <td class="title">
            <h2> رقم اللوحة : </h2>
          </td>
          <td>
            <h4 class="info">{{resipt.PlateNumber}}</h4>
          </td>
        </tr>


        <tr class="palte">
          <td class="title">
            <h2>  جهة الشراء  : </h2>
          </td>
          <td>
            <h4 class="info">{{resipt.buyingDestination}}</h4>
          </td>
        </tr>




   

        <tr class="palte">
         
            <td class="title"><h2> هوية المشترى  : </h2></td>
            <td><h4 class="info">{{resipt.buyerIdentity}}</h4></td>
        </tr>
        
        <tr class="palte">
         
          <td class="title"><h2> قيمة الشراء  : </h2></td>
          <td><h4 class="info">{{resipt.value}}</h4></td>
      </tr>


      </table>
    </div>

    <div class="img-box">
      <div class="img">
        <img [src]="" alt="">
      </div>
    </div>
  </div>
  <div class="signture">
    <h4>التوقيع /..........................</h4>
  </div>
</section>
