<section>
    <div class="main">
      <div class="layer">
        <div class="cartona">
          <h2>بيع مركبة / دراجة</h2>
          <div class="form-box">
            <form [formGroup]="gatSaleForm" (ngSubmit)="saleForm(gatSaleForm)">
              <table>
                <tr>
                  <td><label class="lab" for=""> رقم اللوحة</label></td>
                  <td><input formControlName="PlateNumber" class="inp" type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab" for="">جهة الشراء</label></td>
                  <td><input formControlName="buyingDestination" class="inp" type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab " for=""> هوية المشترى</label></td>
                  <td><input formControlName="buyerIdentity"  class="inp " type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab" for=""> قيمة البيع</label></td>
                  <td><input formControlName="value"  class="inp" type="text" name="" id=""></td>
                </tr>
              </table>
              <div class="btn-box">
                <button class="btn">موافق</button>
                <button class="btn">طباعة فاتورة</button>
                <button class="btn">خروج</button>
              </div>
            </form>
           
          </div>
        </div>
        <h2 *ngIf="isSuccess" class="succss">تمت عملية البيع بنجاج</h2>
        <h2 class="notsuccss">{{error}} </h2>
      </div>
    </div>
  </section>
