<section>
    <div class="main">
      <div class="layer">
        <div class="cartona">
          <h2>بيع مركبة / دراجة</h2>
          <div class="form-box">
            <form>
              <table>
                <tr>
                  <td><label class="lab" for="">جهة الشراء</label></td>
                  <td><input class="inp" type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab " for=""> هوية المشترى</label></td>
                  <td><input class="inp " type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab" for=""> قيمة البيع</label></td>
                  <td><input class="inp" type="text" name="" id=""></td>
                </tr>
              </table>
              <div class="btn-box">
                <button class="btn">موافق</button>
                <button class="btn">طباعة فاتورة</button>
                <button class="btn">خروج</button>
              </div>
            </form>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  