<section>
    <div class="main">
      <div class="layer">
        <div class="cartona">
          <h2>بيع مركبة / دراجة</h2>
          <div class="form-box">
            <form [formGroup]="getOutForm" (ngSubmit)="saleForm">
              <table>
                <tr>
                  <td><label class="lab" for=""> جهة الأخراج</label></td>
                  <td><input formControlName="outDestination" class="inp" type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab " for=""> سبب الأخراج</label></td>
                  <td><input formControlName="caseOfOut" class="inp " type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab" for="">  التاريخ</label></td>
                  <td><input formControlName="date" class="inp" type="text" name="" id=""></td>
                </tr>
              </table>
              <div class="btn-box">
                <button class="btn">موافق</button>
                <button class="btn"> طباعة تقرير</button>
                <button class="btn">خروج</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
