.main {
    background-image: url("../../../assets/images/section1.png");
    background-position: center center;
    background-size: cover;
    height: 90vh;
    position: relative;
    flex-shrink: 0;
  }

  .layer {
    position: absolute;
    inset: 0;
    background: rgba(101, 20, 93, 0.55);
  }
  .layer h2 {
    color: #fff;
    text-align: center;
    font-family: Cairo;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px;
  }
  table  tr{
    height: 70px;
  }
  .cartona {
    position: relative;
  }
  .form-box {
  margin: auto;
  padding: 10px;
    width: 700px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #fff;
    box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center !important;
   
  }
  .succss{
    color: rgb(34, 226, 34)!important;
  }
  .notsuccss{
    color: rgb(248, 24, 24)!important;
  }
  .lab {
    color: #65145d;
    text-align: right;
    font-family: Cairo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .inp {
    width: 400px;
    height: 40px;
    border-radius: 19px;
    border: 1px solid #65145d;
    background: #fff;
    box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1) inset;
  }
  .btn-box {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #65145d;
    box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1) inset;
    color: #fff;
  }
  .inputEdit,.inputselect,.inputselect2 {
    width: 339px;
    height: 56px;
    border-radius: 19px;
    background: #fff;
    box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1);
    border: 1px solid #65145d;
    margin-right: 20px;
    margin-bottom: 15px;
  font-size: 18px;
  padding: 10px;
  }
  .inputselect,.inputselect2{
    width: 100px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .inputselect2{
  width: 120px;
  }
  .modal-content{
    margin-top: 70px;
    z-index: 999;
    }
    .modal-title{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    color: #65145d;
    
    }
    .palte{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0px;
    
    }
    .tab{
      direction: rtl;
    }
    .palte h2{
      color: #65145d;
      font-size: 30px;
    }
    .info{
      color: #000;
      font-size: 30px;
      display: inline-block;
    }
    .recipt{
    color: #65145d;
    font-size: 33px ;
    margin: 20px 0px ;
    text-align: center;
    }
    .modal-footer{
      text-align: center;
      justify-content: space-around;
    }
    .colse{
      background-color: red;
    }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .form-box {
      right: 190px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .form-box {
      right: 75px;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 768px) {
    .lab {
      font-size: 19px;
    }
    .inp {
      width: 289px;
      height: 44px;
  }
    .btn{
      width: 114px;
      height: 45px;
  }
    .btn-box {
      justify-content: space-around;
    }
    .form-box { 
      width: 476px;
      height: 335px;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 500px) {
    .layer h2 {
      font-size: 30px;
    }
    .lab {
      font-size: 15px;
    }
    .inp {
      width: 150px;
      height: 25px;
    }
    .btn {
      width: 70px;
      height: 28px;
      font-size: 8px;
    }
    .btn-box {
      justify-content: space-around;
      margin-top: 10px;
    }
    .form-box {
      width: 300px;
      height: 150px;
      /* right: 30px; */
      right: 95px;
    }
  }
