<section>
    <div class="main">
      <div class="layer">
        <div class="cartona">
          <h2>بيع مركبة / دراجة</h2>
          <div class="form-box">
            <form [formGroup]="getOutForm" (ngSubmit)="saleForm">
              <table>
                <tr>
                  <td><label class="lab" for=""> جهة الأخراج</label></td>
                  <td><input formControlName="outDestination" class="inp" type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab " for=""> سبب الأخراج</label></td>
                  <td><input formControlName="caseOfOut" class="inp " type="text" name="" id=""></td>
                </tr>
                <tr>
                  <td><label class="lab" for="">  التاريخ</label></td>
                  <td>
                    <div >
                      <select class="inputselect ">
                        <option value="السبت">السبت</option>
                        <option value="الاحد">الاحد</option>
                        <option value="الاثنين">الاثنين</option>
                        <option value="الثلاثاء">الثلاثاء</option>
                        <option value="الاربعاء">الاربعاء</option>
                        <option value="الخميس">الخميس</option>
                        <option value="الجمعة">الجمعة</option>
                      </select>
                      <select class="inputselect2 ">
                        <option value="محرم">محرم</option>
                        <option value="صفر">صفر</option>
                        <option value="ربيع الاول ">ربيع الاول </option>
                        <option value="ربيع الثاني ">ربيع الثاني </option>
                        <option value=" جمادي الاول">جمادي الاول </option>
                        <option value="جمادي الاخرة">جمادي الاخرة</option>
                        <option value="رجب">رجب</option>
                        <option value="شعبان">شعبان</option>
                        <option value="رمضان">رمضان</option>
                        <option value="شوال">شوال</option>
                        <option value="ذو القعده">ذو القعده</option>
                        <option value="ذو الحجة">ذو الحجة</option>
                      </select>
                      <input  class="inputselect2 " type="text"  placeholder="ادخل  السنة ">
                    </div>
                    </td>
                </tr>
              </table>
              <div class="btn-box">
                <button class="btn">موافق</button>
                <button class="btn"> طباعة تقرير</button>
                <button class="btn">خروج</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
