<section>
    <div class="section">
      <div class="layer">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-md-6 col-l-12">
              <div class="text">
                <div>
                  <h2>شعبة السير / وحدة حجز المركبات</h2>
                </div>
  
              </div>
  
            </div>
            <div class="col-xl-6 col-md-6 col-l-12">
              <div class="formcontainer">
  
                <div class="form">
                  <h2>تسجيل الدخول </h2>
                  <Form [formGroup]="LoginForm" (ngSubmit)="sendLoginForm(LoginForm)">
                    <div class="input-container">
                      <i class="fa-solid fa-user icon"></i>
                      <input formControlName="userName" type="text" placeholder="الحساب الخاص بك">
                      <div  *ngIf="LoginForm.controls['userName'].errors&&LoginForm.controls['userName'].touched "class="emailvalidtion">
                        <p><span>*</span>اسم الحساب ليس موجود </p>
                    </div>
                      
                    </div>
                    <div class="input-container">
                      <i class="fa-solid fa-unlock icon"></i>
                      <input  formControlName="password" type="password" placeholder="كلمة المرور ">
                      <div  *ngIf="LoginForm.controls['password'].errors&&LoginForm.controls['password'].touched " class="emailvalidtion">
                        <p *ngIf="LoginForm.controls['password'].errors['required']"> <span>*</span>الرقم السري غير صحيح </p>
                        <p *ngIf="LoginForm.controls['password'].errors['pattern']"><span>*</span>الرقم السري اقل من 6 حروف  </p>
  
                    </div>
                    </div>
                    <a routerLink="/ForgetPass">هل نسيت كلمه المرور </a>
                    <p *ngIf="error" class="text-center fa-2x text-danger mt-4">إسم المسخدم او كلمه المرور غير صحيحه</p>
                    <div class="btn">
                      <button [disabled]="LoginForm.invalid ">تسجيل الدخول </button>
  
                    </div>
  
                  </Form>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  