.main {
  height: 150vh;
  background-image: url("../../../assets/images/section1.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  flex-shrink: 0;
}
.layer {
  position: absolute;
  inset: 0;
  background: rgba(101, 20, 93, 0.55);
  display: flex;
  justify-content: center;
}
.box {
  width: 85%;
  background-color: white;
  text-align: center;
}
.box h2 {
  padding: 20px;
  color: #65145d;
  text-align: center;
  font-family: Cairo;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.usersBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.btn-box{
  border-radius: 19px;
  border: 1px solid #65145d;
 width: fit-content;
 height: 50px;
 margin: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.btn {
  background-color: #65145d;
  width: 200px;
  height: 50px;
  border-radius: 19px;
  background: #fff;
  box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1) inset;
  background-color: transparent;
}
.active {
  color: #fff;
  background: #65145d;
}
.user-details {
  /* width: 450px;
  height: 193px; */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 25px;
  border: 1px solid #65145d;
  background: #fff;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info p span{
  color: black !important;
}
.user-details img {
  border-radius: 25px;
}
.details{
  padding-left: 10px;
  padding-bottom: 10px;
}
.details p {
  color: #65145d;
  text-align: center;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
}
.details p span {
  color: #65145d;
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.details button {
  width: 80px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 25px 0px rgba(255, 255, 255, 0.1) inset;
  margin-right: 10px;
  color: #fff;
  border: transparent;
}
.delete{
  background-color: red !important;
}
.confirm{
  background-color: rgb(33, 238, 33);
}
.update{
  margin-top:  20px ;
  width: 160px !important;
  height: 60px;
  font-size: 20px;
  background-color: #65145d;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .main {
    height: 288vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main {
    height: 288vh;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .main {
    height: 260vh;
  }
  .box h2 {
    font-size: 27px;
  }
  .btn {
    width: 155px;
  }
  .btn2 {
    width: 145px;
  }
  .user-details {
    width: 365px;
    height: 170px;
  }
  .user-details img {
    width: 47%;
  }
  .details p {
    font-size: 17px;
  }
  .details button {
    width: 57px;
    height: 30px;
  }
  .detl-btn {
    transform: translateX(-25px);
  }
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  .main {
    height: 234vh;
  }
  .box h2 {
    font-size: 25px;
  }
  .btn {
    width: 113px;
  }
  .btn2 {
    width: 128px;
  }
  .user-details {
    width: 380px;
    height: 180px;
  }
  .user-details img {
  }
  .details p {
    font-size: 14px;
  }
  .details button {
    width: 45px;
    height: 27px;
  }
  .details p span {
    font-size: 12px;
  }
  .detl-btn {
    transform: translateX(-16px);
  }
}
