<div class="main">
  <div class="layer">
    <div class="box">
      <h2>بيانات المستخدمين</h2>
      <!-- <div class="btn-box ">
        <button class="btn  ">رئيس</button>
        <button class="btn">موظف</button>
      </div> -->
      <div class="usersBox p-3">

        <div *ngFor="let user of users" class="users p-3">
          <div class="user-details">
            <img src="../../../assets/images/image 13 (1).png" alt="">
            <div class="details">
              <div class="info">
                <p>بيانات المستخدم :  </p>
                <p><span>{{user.firstName}} {{user.lastName}}</span></p>
              </div>
              <div class="info">

                <p>اسم المستخدم : </p>
                <p> <span>{{user.userName}}</span></p>
              </div>
              <div class="info">
              <p>رقم الهاتف: </p>
              <p><span>{{user.phoneNumber}}</span></p>

              </div>
              <div class="detl-btn">
                <button class="delete" (click)="deleteUser(user.id)">حذف</button>
                <button *ngIf="!user.isConfirmed" class="confirm" (click)="confirmUser(user.id)">تفعيل</button>
              </div>   
             <button  class="update" [routerLink]="[ '/ForgetPass',user.id]">تعديل كلمة المرور</button>

            </div>
          </div>
          <h5 class="mt-2 text-danger">{{err}}</h5>
        </div>

      </div>
    </div>
  </div>
</div>
