<div class="main">
  <div class="layer">
    <div class="box">
      <h2>بيانات المستخدمين</h2>
      <div class="btn-box p-4">
        <button class="btn">رئيس</button>
        <button class="btn2">موظف</button>
      </div>
      <div class="usersBox p-3">

        <div class="users p-3">
          <div class="user-details">
            <img src="../../../assets/images/image 13 (1).png" alt="">
            <div class="details">
              <p>اسم المستخدم <span>(username)</span></p>
              <p>01000000000</p>
              <p>***************</p>
              <div class="detl-btn">
                <button>حذف</button>
                <button>تفعيل</button>
              </div>
            </div>
          </div>
        </div>
        <div class="users p-3">
          <div class="user-details">
            <img src="../../../assets/images/image 13 (1).png" alt="">
            <div class="details">
              <p>اسم المستخدم <span>(username)</span></p>
              <p>01000000000</p>
              <p>***************</p>
              <div class="detl-btn">
                <button>حذف</button>
                <button>تفعيل</button>
              </div>
            </div>
          </div>
        </div>
        <div class="users p-3">
          <div class="user-details">
            <img src="../../../assets/images/image 13 (1).png" alt="">
            <div class="details">
              <p>اسم المستخدم <span>(username)</span></p>
              <p>01000000000</p>
              <p>***************</p>
              <div class="detl-btn">
                <button>حذف</button>
                <button>تفعيل</button>
              </div>
            </div>
          </div>
        </div>
        <div class="users p-3">
          <div class="user-details">
            <img src="../../../assets/images/image 13 (1).png" alt="">
            <div class="details">
              <p>اسم المستخدم <span>(username)</span></p>
              <p>01000000000</p>
              <p>***************</p>
              <div class="detl-btn">
                <button>حذف</button>
                <button>تفعيل</button>
              </div>
            </div>
          </div>
        </div>
        <div class="users p-3">
          <div class="user-details">
            <img src="../../../assets/images/image 13 (1).png" alt="">
            <div class="details">
              <p>اسم المستخدم <span>(username)</span></p>
              <p>01000000000</p>
              <p>***************</p>
              <div class="detl-btn">
                <button>حذف</button>
                <button>تفعيل</button>
              </div>
            </div>
          </div>
        </div>
        <div class="users p-3">
          <div class="user-details">
            <img src="../../../assets/images/image 13 (1).png" alt="">
            <div class="details">
              <p>اسم المستخدم <span>(username)</span></p>
              <p>01000000000</p>
              <p>***************</p>
              <div class="detl-btn">
                <button>حذف</button>
                <button>تفعيل</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
