<section class="roport" id="printSection">
<div class="header">


<div class="info">
    <h3>المملكة العربية السعودية</h3>
    <h3>وزارة الداخلية</h3>
    <h3>الأمن العام</h3>
    <h3>الإدراة  العامة للمرور</h3>
    <h3>إدارة مرور منطقة المدينة المنورة</h3>
</div>
<div class="logo">
    <h2>بسم الله الرحمن الرحيم </h2>
    <img src="../../../assets/images/trafic-preview.png" alt="">
</div>
<div class="date">
    <h3>رقم التقرير  :</h3>
    <h3> التاريخ : .... / ..... / ...... </h3>
    <h3>الموضوع : </h3>
</div>
</div>
<div class="content">
<h5>سعادة  مدير  / .................................................................................................... بعد التحية<br>
</h5>

<h5>
    .................................................................................................................................................................................................
 </h5>
 <h5>
    .................................................................................................................................................................................................
 </h5>
 <h5>
    .................................................................................................................................................................................................
 </h5>
 <h5>
    .................................................................................................................................................................................................
 </h5>
</div>
<div class="signture">
    <h3>مدير / ............................................</h3>
    <h3>الرتبة -الاسم /.....................................</h3>
    <h3>التوقيع /..........................................</h3>
</div>

</section>
<div class="print">
    <button [useExistingCss]="true" printSectionId="printSection" ngxPrint class="btn">طباعة</button>
</div>
