<section>
  <div *ngIf="!isValid" class="container text-center">
    <h1>{{errors}}</h1>
  </div>
  <div *ngIf="isValid" class="container">
    <div class="row">

      <div class="col-md-6">
        <table>
          <tr>
            <td class="title">رقم اللوحة</td>
            <td>
              <div class="content"> {{vehcile.plateNumber}}</div>
            </td>
          </tr>
          <tr>
            <td class="title">رقم الهيكل</td>
            <div class="content">{{vehcile.structureNumber}} </div>

          </tr>
          <tr>
            <td class="title">النوع</td>
            <td>
              <div class="content">{{vehcile.vehicleType}} </div>

            </td>
          </tr>
          <tr>
            <td class="title">الموديل</td>
            <td>
              <div class="content"> {{vehcile.module}}</div>
            </td>
          </tr>
          <tr>
            <td class="title">الجهة المحضرة</td>
            <td>
              <div class="content">{{vehcile.destinationType}} </div>

            </td>
          </tr>
          <tr>
            <td class="title">تاريخ الدخول</td>
            <td>


              <div class="content"> {{vehcile.dateInStringFormate}}</div>

            </td>
          </tr>
          <tr>
            <td class="title">ملاحظات</td>
            <td>
              <div class="content note">{{vehcile.notes}} </div>

            </td>
          </tr>

        </table>
      </div>

      <div class="col-md-6">
        <div class="img">
          <img [src]="vehcile.imageUrl" alt="">
        </div>

        <div class="btns text-center">
          <a [routerLink]="['/edit',vehcile.plateNumber]"><input type="button" value="تعديل "> </a>
          <input data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" value="حذف">
          <button type="button" printSectionId="printSection" ngxPrint value="">طباعة </button>
          <a routerLink="/Home"><input type="button" value="خروج"></a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="vechelis-respit d-none" id="printSection">
  <div class="headers">
    <h1 class="h-edit">ادارة حجز المركبات</h1>
    <h3>فاتورة المركبة</h3>
  </div>
  <div class="parent">

    <div class="respit">
      <table class="tab">
        <tr class="palte">
          <td class="title">
            <h2> رقم اللوحة : </h2>
          </td>
          <td>
            <h4 class="info">{{vehcile.plateNumber}}</h4>
          </td>
        </tr>


        <tr class="palte">
          <td class="title">
            <h2>رقم الهيكل : </h2>
          </td>
          <td>
            <h4 class="info">{{vehcile.structureNumber}}</h4>
          </td>
        </tr>

        <tr class="palte">
          <td class="title">
            <h2> النوع : </h2>
          </td>
          <td>
            <h4 class="info">{{vehcile.vehicleType}} </h4>
          </td>
        </tr>

        <tr class="palte">
          <td class="title">
            <h2> الموديل : </h2>
          </td>
          <td>
            <h4 class="info">{{vehcile.module}}</h4>
          </td>
        </tr>

        <tr class="palte">
          <td class="title">
            <h2> الجهه المحضره : </h2>
          </td>
          <td>
            <h4 class="info">{{vehcile.destinationType}}</h4>
          </td>
        </tr>

        <tr class="palte">
          <td class="title">
            <h2> تاريخ الدخول : </h2>
          </td>
          <td>
            <h4 class="info"> {{vehcile.dateInStringFormate}}</h4>
          </td>
        </tr>

        <tr class="palte">
          <td class="title">
            <h2> ملاحظات : </h2>
          </td>
          <td>
            <h4 class="info">{{vehcile.notes}}</h4>
          </td>
        </tr>

      </table>
    </div>

    <div class="img-box">
      <div class="img">
        <img [src]="vehcile.imageUrl" alt="">
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">اغلاق</button>
        <button (click)="deleteVehcil(vehcile.id)" type="button" class="btn btn-primary delete">تاكيد الحذف</button>
      </div>
      <h3 class="text-white text-center p-2">{{deleteStatus}}</h3>

    </div>
  </div>
</div>
