<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <td class="title">رقم اللوحة</td>
                        <td  >
                            <div class="content"> </div></td>
                       </tr>
                    <tr>
                        <td class="title">رقم الهيكل</td>
                        <div class="content"> </div>

                    </tr>
                    <tr>
                        <td class="title">النوع</td>
                        <td  >
                            <div class="content"> </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="title">الحجم</td>
                        <td  >
                            <div class="content"> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">الجهة المحضرة</td>
                        <td  >
                            <div class="content"> </div>

                        </td>
                  </tr>
                    <tr>
                        <td class="title">تاريخ الدخول</td>
                        <td  >
                            <div class="content"> </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="title">ملاحظات</td>
                        <td  >
                            <div class="content note"> </div>

                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-md-6">
                <div class="img">
                    <img src="../../../assets/images/car1.jpg" alt="">
                </div>
                <div class="btns">
                    <input type="button" value="تعديل ">
                    <input type="button" value="حذف">
                    <input type="button" value="طباعة">
                    <a routerLink=""><input type="button" value="خروج"></a>
                </div>
            </div>

        </div>
    </div>
</section>
